process {
  executor = 'local'
  cpus = 4
  memory = '8 GB'
}


params {
  samples = 'samples.tsv'
  design = 'design.tsv'
  outdir  = 'results'
  salmon_index = '/path/to/salmon/index'
  star_index   = '/path/to/star/index'   // directory created by STAR --runMode genomeGenerate
  gtf          = '/path/to/annotation.gtf'
}

profiles {
  conda {
    process.conda = 'envs/rnaseq.yml'
  }
  docker {
    docker.enabled = true
  }
}
