process {
  executor = 'local'
  cpus = 4
  memory = '8 GB'
}


params {
  samples = 'samples.tsv'
  design = 'design.tsv'
  outdir  = 'results'

  // references
  fasta   = 'reference/dummy_reference.fa.gz'
  gtf     = 'reference/dummy_reference.gtf.gz'

  // indices (leave empty to auto-generate)
  salmon_index = null
  star_index   = null
}

profiles {
  conda {
    process.conda = 'envs/rnaseq.yml'
  }
  docker {
    docker.enabled = true
  }
}
